body, a{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
}
.backgroundleft, .backgroundright{
    background-image: url("../images/repeated-square.png");
}
.backgroundleft{
    float: left;
}
.backgroundright{
    float: right;
}
#row{
    display: inline-block;
}
navbar{
    background-color: white;
}
h1{
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h2{
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
footer{
    border-top: #4aaaa5 solid 5px;
    background-color: #666666;
    color: white;
    vertical-align: bottom;
    text-align: center;
    text-align: bottom;
}
#profilepic{
    position: relative;
    top: 0px;
    left: 0px;
    width: 150px;
    float: left;
}
.main-content{
    float: center;
    background-color: white;
    width: 960px;
    border-color: #dddddd;
    border-width: 3px;
    border-style:  solid;
}
.margin-vertical{
    height: 100px;
}
@media screen and (min-width: 576px){
    body{
        margin-left:150px;
        margin-right:150px;
    }
}