body, a{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
}
hr{
    margin-left: 10px;
    margin-right: 10px;
}
.backgroundleft, .backgroundright{
    background-image: url("../images/repeated-square.png");
}
.backgroundleft{
    float: left;
}
.backgroundright{
    float: right;
    position: relative;
    right: 0;
}
#row{
    display: inline-block;
}
#message{
    height: 100px;
    width: 100%;
}
navbar{
    background-color: white;
}
h1{
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h2{
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
footer{
    border-top: #4aaaa5 solid 5px;
    background-color: #666666;
    color: white;
    vertical-align: bottom;
    text-align: center;
    text-align: bottom;
}
#profilepic{
    position: relative;
    top: 0px;
    left: 0px;
    width: 150px;
    float: left;
    margin-right: 17px;
}
.main-content{
    float: center;
    background-color: white;
    /* width: 960px; */
    border-color: #dddddd;
    border-width: 3px;
    border-style:  solid;
    padding:10px;
}
.portfolio-pic{
    position: relative;
    display: inline-block;
    margin: 10px;
}
.portfolio-pic img{  
        width:100%;
}
.imglabel{
    position: absolute;
    bottom:0;
    width:100%;
    /* left: 50%; */
    /* right: 50%; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    /* display: block; */
    /* float:center; */
    /* height: 30%; */
}
.margin-vertical{
    height: 100px;
    background-image: url("../images/repeated-square.png");
}
@media screen and (min-width: 576px){
    body{
        margin-left:150px;
        margin-right:150px;
    }
}